<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Ürün</th>
      <th>Fiyat</th>
      <th>Kategori</th>
      <th>Açıklama</th>
      <th>
        <button [routerLink]="['/admin/main/products/create']" class="btn btn-primary btn-sm text-white">Ürün Ekle</button>
      </th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of getProducts()">
      <td></td>
      <!-- <td>Görsel gelebilir</td> -->
      <td>{{ item.name }}</td>
      <td>{{ item.price }} ₺</td>
      <td>{{ item.category }}</td>
      <td>{{ item.description }}</td>
    
      <td>
        <a (click)="deleteProduct(item)"  class="btn btn-danger btn-sm text-white">X</a>
        <!--   -->
        <button [routerLink]="['/admin/main/products/edit/',item.id]" class="btn btn-warning btn-sm text-white mx-2">Detay</button>

      </td>
    </tr>
  </tbody>
</table>
