<navbar></navbar>

<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <app-shop-summary></app-shop-summary>
      <div class="list-group mt-3">
    <!--  activeCategory() boş atayıp içini boşaltıyoruz -->
        <a
          (click)="activeCategory()"
          href="#"
          class="list-group-item list-group-item-action"
          >Tüm Kategoriler
        </a>

        <a
          *ngFor="let c of categories; let index = index"
          (click)="activeCategory(c)"
          href="#{{ c.id }}"
          [class.active]="c == activatedCategory"
          class="list-group-item list-group-item-action"
          >{{ index }}-{{ c.name }}
        </a>
      </div>
    </div>

    <div class="col-8">
      <div class="row">
        <div class="col-4 mt-3" *ngFor="let p of products; let i = index">
          <div class="card" style="width: 18rem">
            <img
              src="
               
                "
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">{{ i + 1 }} - {{ p.name }}</h5>
              <p class="card-text">{{ p.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">₺ {{ p.price }}</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
              <a href="#" class="btn btn-primary btn-sm mx-2">Details</a>
              <button (click)="addToCart(p)" class="btn btn-primary btn-sm">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    
        <ul class="pagination mt-3">
          <li class="page-item"><a class="page-link" href="#">Önceki</a></li>
          <li *ngFor="let page of pageNumbers" class="page-item"><a class="page-link" (click)="changePage(page)" href="#">{{page}}</a></li>
          <li class="page-item"><a class="page-link" href="#">Sonraki</a></li>
        </ul>
      
    </div>
    
  </div>
</div>
